@page "/"
@using BlazorState
@attribute [StreamRendering]
@inject ISessionIdManager sessionIdManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Cookie: @sessionId</p>

@code
{
    private string? sessionId;

    protected override async Task OnInitializedAsync()
    {
        sessionId = await sessionIdManager.GetSessionId();  
    }
}